:root {
    --color1: gray;
    --color2: #000;
    --color3:red;
}

body {
    background-color: var(--color1);
}
input{
    background-color: var(--color1);
}
#contenedorFormulario{
    background-color: var(--color3);
}